body {
    background-color: rgb(245, 233, 176);
    margin: 0;
}
/* menu*/
.menu {
list-style: none;
margin: 0;
padding: 0;
background-color: black;
overflow: hidden;
}

.menu li{
    float: left;
}

li a {
    border: 1px solid black;
    padding: 15px;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;

}
/* seudo clase = hover*/
a:hover {
    background-color: burlywood;
}

.contenido {
    padding-left: 15px;
    background-color: rgb(245, 233, 176);
}

.active{
    border: 2px solid chocolate;
}